

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.crystal {
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

.crystal:hover {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .5);

}

img {
    width: 50px;

}

.crystal:hover
{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}

.crystal:hover
{
        border-radius:50%;
}